.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  margin: 12px;
}

label {
  font-size: small;
}

.text-view {
  font-size: 1.5rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  padding: 2px;
  border-radius: 2px;
}

.input-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
  background-color: transparent;
}
